*~
bin
obj
debug
release
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
_sgbak
*.vspscc
*.vssscc
*.tmp
~*
*.dca
*.clw
*.config
*.dsw
*.hlp
*.incr
*.ncb
*.opt
*.pdb
*.plg
*.scc
*.SCC
*.vbw
*.webuser
*.log
license.lic
license.key
Northstar
packages
PrecompiledWeb
Setups



